*
{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left,orange,lightgreen,pink);
  background-attachment: fixed;
}
.container{
position:relative;
width: 1150px;
padding:20px;
display: flex;
justify-content: center;
align-items:center;
flex-wrap:wrap;
flex-direction: row;
}
.container .card{
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}
.container .card .circle{
  position:relative;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
}
.container .card .circle h1{
  color: #fff;
  font-size: 4em;
}
.container .card .content{
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center;
  padding: 20px;
}
.container .card .content p{
  color: #666;
}
.container .card .content a{
  position: relative;
  display:inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
text-decoration: none;
}
.container .card:nth-child(1) .circle {
background-color: lightgreen;
}
.container .card:nth-child(2) .circle {
background-color: seagreen;
}
.container .card:nth-child(3) .circle {
background-color: darkgreen;
}
.container:hover .card{
  filter: blur(20px);
  transform:scale(0.9);
  opacity:0.5
}
.container .card:hover{
  filter: blur(0px);
  transform:scale(1.1);
  opacity:1
}
p{
  font-size: 30px;
}
